# What is pandas?

### Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

# Pandas Series

A pandas series is like a column in a table. It is a 1-D array holding data of any type.

# Importing pandas

In [2]:
import pandas as pd
import numpy as np

# Series from lists

In [4]:
# string
country=['India','USA','Japan','Russia','China']
pd.Series(country)

0     India
1       USA
2     Japan
3    Russia
4     China
dtype: object

In [6]:
# integers
num=[100,200,300,400,500]
pd.Series(num)

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [9]:
pd.Series(marks)

0     67
1     78
2     89
3    100
4     90
dtype: int64

In [7]:
# custom index
marks=[67,78,89,100,90]
subjects=['physics','chemistry','english','maths','computer science']
pd.Series(marks,subjects)

physics              67
chemistry            78
english              89
maths               100
computer science     90
dtype: int64

In [17]:
 # setting a name

s0=pd.Series(marks,subjects,name="Tanish's Marks")
s0

physics              67
chemistry            78
english              89
maths               100
computer science     90
Name: Tanish's Marks, dtype: int64

# Series from a dict

In [12]:
marks={
    'physics':67,
    'chemistry':78,
    'english':89,
    'maths':100,
    'computer science':90
}
s=pd.Series(marks)
s

physics              67
chemistry            78
english              89
maths               100
computer science     90
dtype: int64

# Series Attributes

In [13]:
# size
s.size

5

In [14]:
# dtype
s.dtype

dtype('int64')

In [18]:
# name
s0.name

"Tanish's Marks"

In [19]:
s.name

In [20]:
# is_unique
s.is_unique

True

In [21]:
# index
s.index

Index(['physics', 'chemistry', 'english', 'maths', 'computer science'], dtype='object')

In [22]:
# values
s.values

array([ 67,  78,  89, 100,  90], dtype=int64)

In [23]:
type(s.values)

numpy.ndarray

In [24]:
type(s.index)

pandas.core.indexes.base.Index